{% extends "pacient_info.html" %}
{% block analyze_step %}
<form method="POST" action="/save-analyze">
    <div class="form-group">
        <label class="control-label">Введите значение показателя COE</label>
        <div class="controls">
            <select name="analyze_value" size="3">
                <option value="↑">&uarr;</option>
                <option value="↓">&darr;</option>
                <option value="N">N</option>
            </select>
        </div>
    </div>
    <input type="hidden" name="pacient_id" value="{{ pacient.key.id() }}" />
    <input type="hidden" name="analyze_type" value="COE" />
    <button class="btn btn-default">Сохранить</button>
</form>
{% endblock %}
