{% extends "page.html" %}
{% block page %}
<h1>Данные о пациенте</h1>
<table class="table">
    <tbody>
        <tr>
            <td>№ карты</td>
            <td>{{ pacient.card_no }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ pacient.last_name }}</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>{{ pacient.first_name }}</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>{{ pacient.middle_name }}</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>{{ pacient.age }}</td>
        </tr>
    </tbody>
</table>
<h2>Анализы:</h2>
<table class="table">
    <tbody>
        {% for analyze in analyzes %}
        <tr>
            <td>{{ analyze.analyze_type }}</td>
            <td>{{ analyze.analyze_value }}</td>
            <td><a class="btn btn-default" href="/remove-analyze/{{ pacient.key.id() }}/{{ analyze.analyze_type }}">remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Диагностика:</h2>
    {% block analyze_step %}
    {% endblock %}
{% endblock %}
